

.add_comment {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.add_comment_field{
    flex:1;
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray;
}
.add_comment_btn {
    flex: 0;
    border: none;
    color:#6082a3;
    background-color: transparent;
    border-top: 1px solid lightgray;
    cursor: pointer;
}

